header{
    display: flex;
    height:80px;
    color:white;
    align-items: center;
    justify-content:space-between;
    /* background-color: green; */
    font-size: 1.25rem;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #231538;
}
header > div> ul > li > a{
    color:white;
    text-decoration: none;
}
@media (min-width:1920px){
    header{
        margin:0px 10vw
    }
}
ul{
    display: flex;
    list-style: none;
    gap:20px;
    font-weight: 600;
}
ul > li{
    padding:2px;
    min-width:80px;
}
ul > li > a:hover{
    cursor: pointer;
    color:rgb(211, 211, 211);
}
.loginbtn{
    background-color: #fff;
    color:#231538;
    text-align: center;
    border-radius: 99px;
    padding:4px;
    width:120px;
    border:2px solid white

}
.loginbtn:hover{
    cursor: pointer;
    background-color: #231538;
    color:white;
    border:2px solid white
}
main > div, header{
    padding:0 50px
}
@media (min-width:1920px){
    main > div{
    margin:0 10vw;
    }
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
}
.get-started{
    display: flex;
    justify-content: space-between; /* space between */
    margin-top: 100px;
    color:white
}
.get-started > img{
    width:500px;
}
.card{
    border:10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(#F842EC ,#F842EC,#707070);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    gap:10px;
    max-width: 600px;
}
.card > p{
    margin-top: 20px;
    text-align: justify;
}
.card > button{
    background-color: #fff;
    padding:15px;
    border:2px solid white;
    border-radius: 99px;
    font-size: 1.2rem;
    margin-top: 25px;
    font-weight: 700;
}
.card > button:hover{
    cursor: pointer;
    background-color: #231538;
    color:white;
    border:2px solid white
}
.bugs_error,.bugs_card {
    color:white;
    display: flex;
}
.bugs_error{
    margin-top: 100px;
    flex-direction: column;
    gap:50px
}
.bugs_error > h2{
    text-align: center;
}
.bugs_card{
    gap:20px;
    justify-content: space-between; /* space between */
}
/* .bugs_card > .card, .secondCard > .card{
    max-width: 600px;
} */
.error_head, .error_user{
    display: flex;
    width:100%;
}
.error_head{
    justify-content: space-between;
}
.error_desc{
    width: 100%;
}
.error_desc > p{
    margin-top: 10px;
}
.bugs_card > .card >  button, .secondCard > .card >  button{
    padding:10px 15px;
}
.nextbtn{
    background-color: #fff;
    color:#231538;
    text-align: center;
    border-radius: 100%;
    padding:4px;
    min-width:80px;
    border:1px solid white;
    height:80px;
}
.nextbtn:hover{
    cursor: pointer;
    background-color: #231538;
    color:white;
    border:2px solid white;
}
.secondCard{
    display: flex;
    gap:20px;
    align-items: center;
}
section > *{
    color:white;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section > h2{
    margin: 50px 0px;
    text-align: center;
}
section > .card .plans_card{
    display: flex;
    flex-direction: row;
}
.plans_card > .features{
    flex:0.6
}
.plans_card > .features > .features_body ul, .plan > .plan_body ul{
    display: flex;
    flex-direction: column;
    gap:0;
}
.plan_body > ul > li, .features_body > ul > li{
    padding: 10px;
    cursor:auto;
    color: #52FFF2;

}
.features_body > ul > li:last-child{
    border-right:1px solid  #52FFF2;
    border-bottom:1px solid  #52FFF2 ;
}
.features_body > ul > li{
    border-right:1px solid  #52FFF2;
}
.plans_card > .plan{
    flex:0.2;
    min-width:max-content
}
.plan.paid{
    flex:0.3
}
.features_header{
    text-align: center;
    padding: 10px;
    border-right:1px solid  #52FFF2;
    border-bottom:1px solid  #52FFF2;
}
.plan_header {
    padding: 10px;
    gap:0;
    border-bottom:1px solid white ;
    text-align: center;
}
.plan_header.last, .plan_body.last > ul > li {
    border-left:1px solid  #52FFF2;
}
.plan_body > ul > li:last-child{
    border-bottom: 1px solid #52FFF2;
;
}
.plan_body > h2, .features_body > h2{
    text-align: center;
    border-bottom: 1px solid #52FFF2;
    padding:5px;
}
.plan_body.last > h2 {
    border-left:1px solid #52FFF2
}
.features_body > h2{
    border-right: 1px solid #52FFF2;
}
.plan_body > .enroll{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.emptybox{
    border-right: 1px solid #52FFF2;
    height:45px;
}
.plan_body > .enroll.last{
    border-left: 1px solid #52FFF2;

}
.plan_body > div >button{
    background-color: #fff;
    color:#231538;
    text-align: center;
    border-radius: 99px;
    padding:4px;
    width:80px;
    border:2px solid white;
    font-size: 1.25rem;
    font-weight: 600;
 }
 .plan_body > div >button:hover{
    cursor: pointer;
    background-color: #231538;
    color:white;
    border:2px solid white;
 }
.team{
    display:flex;
    border:10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(#F842EC ,#F842EC,#707070);
    /* height:200px; */
    width: 600px;
    padding:20px 50px;
    flex-wrap: wrap;
    gap:20px ;
    justify-content: center;

}
@media (min-width:1920px){
    .team{
        width: 1000px;
        gap:50px;
    }
    .team > div > img{
        width:  150px;
    }
}
.team > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    align-items: flex-start !important;
    font-size: 20px;
    margin-bottom: 50px;
}
footer{
background-color:#301953;
color:white;
height:200px;

}